#title {
	color: red;
	text-align: center;
	font-family: sans-serif;
	margin-top: 20px;
}

#heading {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#gpsForm {
	display: none;
	margin-top: 20px;
}

#userForm {
    display: none;
    margin-top: 20px;
}

#googleMap {
    display: none;
    width: 100%;
    height: 400px;
}

input {
    height: 30px;
    text-align: center;
}